<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
</head>
<body>
	<h1>Registration Page</h1>
	<form method="post"> 
		Employee Name: <input type="text" name="employeename" > <br>
		Contact No: <input type="text" name="contactno" > <br>
		Userame: <input type="text" name="username" > <br>
		Password: <input type="password" name="password" ><br>
		Type: <input type="text" name="type" ><br>

		<input type="submit" name="submit" value="registration" >
	</form>
</body>
</html>